automations/n8n/01-telegram-to-vault.json
{
  "name": "Brain — Telegram → Vault",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "brain-telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CRED_ID",
          "name": "Brain Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = msg.text || msg.caption || '';\nconst chatId = msg.chat.id;\nconst from = (msg.from && msg.from.first_name) || 'unknown';\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst dateStr = `${now.getFullYear()}-${pad(now.getMonth()+1)}-${pad(now.getDate())}`;\nconst timeStr = `${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst slug = text.slice(0, 40).replace(/[^a-z0-9]+/gi, '-').replace(/^-+|-+$/g, '').toLowerCase() || 'capture';\nconst filename = `${dateStr}-${timeStr}-${slug}.md`;\nconst body = `---\\ntype: quick-capture\\nsource: telegram\\nfrom: ${from}\\ncaptured_at: ${now.toISOString()}\\nprocessed: false\\n---\\n\\n# Quick capture — ${dateStr} ${pad(now.getHours())}:${pad(now.getMinutes())}\\n\\n${text}\\n\\n---\\n\\n_Source: Telegram bot. Auto-routed by N8N._\\n`;\nreturn [{ json: { filename, body, chatId, originalText: text } }];"
      },
      "id": "format-note",
      "name": "Format Note",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/Users/carlos/Brain/inbox/{{ $json.filename }}",
        "dataPropertyName": "body",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "write-to-vault",
      "name": "Write to Vault",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Note').item.json.chatId }}",
        "text": "=Saved → inbox/{{ $('Format Note').item.json.filename }}",
        "additionalFields": {}
      },
      "id": "telegram-confirm",
      "name": "Telegram Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_TELEGRAM_CRED_ID",
          "name": "Brain Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Format Note", "type": "main", "index": 0 }]]
    },
    "Format Note": {
      "main": [[{ "node": "Write to Vault", "type": "main", "index": 0 }]]
    },
    "Write to Vault": {
      "main": [[{ "node": "Telegram Confirm", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false }
}
